{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <section class="articles">
        <artile>
            <h2> {{ article.title }} </h2>
            <div class="metadata"> Ecrit le {{ article.createAt | date ('d/m/Y') }} à {{ article.createAt | date ('H:i') }} dans la catégorie {{ article.category.title }}</div>
            <div class="content">
                <img src="{{ article.image }}" alt="">
                {{ article.content | raw }}
            </div>
        </artile>
    </section>

    <section id="commentaires">
        {% for comment in article.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{ comment.author }} (<small>{{ comment.createdAt | date ('d/m/Y à H:i') }}</small>)
                    </div>
                    <div class="col">
                        {{ article.content | raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
